<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&amp;display=swap">

    <title>Yellow Studio</title>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top at_top">
        <a class="navbar-brand" href="#header_index">Yellow Studio</a>
         <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#section_about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section_works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section_contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav> 
      <header id="header_index">
        <div class="container">
          <img src="https://awiclass.monoame.com/img/webpic/w_icon.svg" alt="" class="icon">
          <img src="https://awiclass.monoame.com/img/margin/m_index.svg" alt="" class="marginbottom mountain">
          <div class="explore at_top">EXPLORE</div>
        </div>
      </header>
      <section id="section_about">
        <img src="https://awiclass.monoame.com/img/margin/m_about.svg" alt="" class="marginbottom">
        <img id="cat" src="http://awiclass.monoame.com/catpic/cat_leftop.png">
        <div id="cross"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_tri1.svg" alt="" class="tri tri1">
              <h2 class="r1text">WORKS IN YELLOW</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_tri2.svg" alt="" class="tri tri2">
            </div>
            <div class="col-sm-8">
              <img src="https://awiclass.monoame.com/img/webpic/w_tri3.svg" alt="" class="tri tri3">
              <h3 class="r2text">YELLOW STUDIO-Website Design / Development</h3>
              <h3 class="r2text">Interactive Art Design</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <h2 class="r3text">430 MORE SUCCESS CASES</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 btn-area">
              <a href="#section_works" class="btn btn-lg btn-light">MORE STORY</a>
              <img src="https://awiclass.monoame.com/img/webpic/w_tri4.svg" alt="" class="tri tri4">
            </div>
            <div class="col-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_tri5.svg" alt="" class="tri tri5">
            </div>
          </div>
        </div>
      </section>
      <section id="section_service">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Service</h1>
            </div>
            <div class="col-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_service_icon1.svg" alt="" class="icon_service">
              <h3>CI/VI Design</h3>
            </div>
            <div class="col-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_service_icon2.svg" alt="" class="icon_service">
              <h3>MotionGraphic</h3>
            </div>
            <div class="col-sm-4">
              <img src="https://awiclass.monoame.com/img/webpic/w_service_icon3.svg" alt="" class="icon_service">
              <h3>Web Development</h3>
            </div>
          </div>
        </div>
      </section>
      <section id="section_works">
        <img src="https://awiclass.monoame.com/img/margin/m_works.svg" alt="" class="marginbottom mountain">
        <div id="app" class="container">
          <div class="row" v-if="works.length > 0">
            <div class="col-sm-12">
              <h1>Works</h1>
            </div>
            <div class="col-sm-6 work big">
              <img :src="works[1].img" alt="">
              <div class="texts">
                <h4 class="title">{{works[1].name}}</h4>
                <p class="content" v-html="works[1].content.substr(0,40)"></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-6 col-sm-6 work" v-for="w in works.slice(2,6)">
                <img :src="w.img" alt="">
                <div class="texts">
                  <h4 class="title">{{w.name}}</h4>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="section_contact">
        <img class="cat" id="cat_blue" src="http://awiclass.monoame.com/catpic/cat_blue_cat.png">
        <img class="cat" id="cat_yellow" src="http://awiclass.monoame.com/catpic/cat_yellow_cat.png">
        <img class="cat" id="cat_grey" src="http://awiclass.monoame.com/catpic/cat_grey_cat.png">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="mails">
                <div class="mailcover">
                  <img src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg" alt="">
                </div>
                <div class="mailbody">
                  <h5>Dear Yellow Studio</h5>
                  <label>Name</label>
                  <input type="text">
                  <label>Email</label>
                  <input type="text">
                  <label>Content</label>
                  <textarea></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h2>CONTACT</h2>
              <br>
              <p>If you have any question about us, <br>Don't hestitate to contact us !</p>
              <br>
              <br>
              <p>YELLOWSTUDIO@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , XORO Road<br>Phone: 02-12345678</p>
            </div>      
          </div>
        </div>
      </section>
      <footer id="footer">
        <img src="https://awiclass.monoame.com/img/webpic/w_icon_black.svg" alt="" class="icon">
      </footer>
      <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
      <script src='assets/main.js'></script>


    </body>
</html>